.carouselContainer{
    width: 90%;
 
    margin: auto;
    margin-top: 20px;
}
/* small screen */
@media screen and (min-width: 100px) and (max-width: 593px){
    .carouselContainer{
        width: 90%;
      
        margin: auto;
        margin-top: 20px;
    }
    .carouselContainer img {
        height: 250px; 
        object-fit: cover;  
      }
}

