.footerContainerMain{
    background-color: #1a202c;
}

.footerContainer{

    display: flex;
    justify-content: space-between;


}
.footerContainer>div{
    width: 30%;
 
    margin-top: 40px;
}
/* first div */
.footerContainer>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
   
}
.footerContainer>div:first-child>img{
    width: 35%;
    cursor: pointer;
}
.icons{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.contactInfo{
   
    margin: 30px 0px;
    text-align: center;
}
.contactInfo>p:first-child{
    color: #256fd4;
    font-size: 20px;
}
.contactInfo>p:last-child{
    color: white;
    margin-top: 10px;
}

.contactInfo>p:last-child:hover{
    text-decoration: underline;
    cursor: pointer;
   
    
}
/* second div */
.footerContainer>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.footerContainer>div:nth-child(2)>div{
    width: 45%;
    text-align:start;
}
.footerContainer>div:nth-child(2)>div>p:first-child{
    color: #256fd4 ;
    font-size: 20px;
}

.options{
    color: white;
    margin: 7px 0px;
}
.options:hover{
    cursor: pointer;
    text-decoration:  underline;
}

/* last div */


.footerContainer>div:last-child>div>p{
    color: #256fd4 ;
    font-size: 20px;
    line-height: 50px;
}
.footerContainer>div:last-child>div>div{
    
    margin-top: 20px;
}
.footerContainer>div:last-child>div>div>input{
    background: transparent;
    height: 30px;
    width: 220px;
}

.footerContainer>div:last-child>div>div>div{
    display: inline;
    padding: 5px ;
   border-radius: 20%;
    background-color: black;
    margin-left: 10px;
    
}
.footerContainer>div:last-child>div>div>div:hover{
    cursor: pointer;
    background-color: #12161e;
}
.account{
    margin-top: 20px;
}
.account>div{
    display: flex;
    gap:30px

}
.account>div:hover{
    cursor: pointer;
}
.topbar{
line-height: 50px;
    color: white;
   text-align: center;
    font-size: 14px;
    padding-bottom: 30px ;
}
.topbar:hover{
    cursor: pointer;
    text-decoration: underline;
}

.mobFooterContainer{
    display: none;
}

/* small screen */
@media screen and (min-width: 100px) and (max-width: 600px){
    .footerContainerMain{
        display: none;
    }
    
.mobFooterContainer{
    display: grid;
    background-color: #1a202c;
    grid-template-columns: repeat(2,1fr);

}
.mobFooterContainer>div{
   
    line-height: 40px;
    margin-left: 10px;
}
.mobFooterContainer>div:first-child>img{
width: 80%;
}
.mobIcons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.mobContactInfo{
   
    margin: 20px 0px;
   
}
.mobContactInfo>p:first-child{
    color: #256fd4;
    font-size: 16px;
}
.mobContactInfo>p:last-child{
    color: white;
   
    font-size: 14px;
}

.mobContactInfo>p:last-child:hover{
    text-decoration: underline;
    cursor: pointer;
   
    
}
.mobFooterContainer>div:nth-child(2){
    color: #256fd4 ;
    font-size: 18px;
}
.mobFooterContainer>div:nth-child(3){
    color: #256fd4 ;
    font-size: 18px;
}

.moboptions{
    color: white;
    margin: 7px 0px;
    font-size: 14px;
}
.moboptions:hover{
    cursor: pointer;
    text-decoration:  underline;
}
.mobaccount{
    margin-top: 20px;
}
.mobaccount>div{
    display: flex;
    gap:30px

}
.mobaccount>div:hover{
    cursor: pointer;
}
.mobFooterContainer>div:last-child>div>p{
    color: #256fd4 ;
    font-size: 20px;
    line-height: 50px;
}
.mobFooterContainer>div:last-child>div>div{
    
    margin-top: 20px;
}
.mobFooterContainer>div:last-child>div>div>input{
    background: transparent;
    height: 30px;
    width: 150px;
}

.mobFooterContainer>div:last-child>div>div>div{
  width: fit-content;
    padding: 2px 5px ;
   border-radius: 20%;
    background-color: black;
    margin-right:25%;
    
    
}
.mobFooterContainer>div:last-child>div>div>div:hover{
    cursor: pointer;
    background-color: #12161e;
}


}