.top {
  width: full;
  background-color: #1a202c;
  color: rgb(233, 231, 231);
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 9px 0px;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}


.nav > div:first-child {
  width: 89%;
  
  display: flex;
}

.nav > div > img {
  width: 14%;
}

.nav > div:first-child > div {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-left: 12%;
  gap: 35px;
}
.nav > div:first-child > div > div {
  color: #1a202c;
}

.nav > div:first-child > div > div:first-child {
  font-weight: 700;
  font-size: 15px;
}

.nav > div:first-child > div > div:first-child:hover {
  font-weight: 700;
  font-size: 15px;
  text-decoration: underline;
}

.nav > div:first-child > div > div:hover {
  cursor: pointer;
  color: rgb(72, 72, 248);
}

.nav>div:last-child{
 
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
   
}

.nav>div:last-child>div{
    cursor: pointer;
}
.smallNav{
  width: 90%;
  margin: auto;
  margin-top: 24px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.medNav{
  width: 90%;
  margin: auto;
  margin-top: 24px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
/* medium screen */
@media screen and (min-width: 991px) and (max-width: 1250px){
  .nav {
    width: 90%;
    margin: auto;
    display: none;
    margin-top: 24px;
  }
  .smallNav{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  .medNav{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
  .medNav>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .medNav>img{
    width: 30%;
    
  }
  .medNav>div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

/* small screen */
@media screen and (min-width: 100px) and (max-width: 990px){
  .nav {
    width: 90%;
    margin: auto;
    display: none;
    margin-top: 24px;
  }
  .medNav{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  .smallNav{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
  .smallNav>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .smallNav>img{
    width: 30%;
    
  }
  .smallNav>div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}


/* sneakers sub otions */


.sneakerOption{
  position: relative;
  }
  .sneakersSub-option{
  width: 300px;
 
  background-color: white;
  position: absolute;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .sneakerOption:hover .sneakersSub-option{
      display: block;
  
  }

  .sneakersSub-option>div{

    width: 90%;
    margin: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 5px;
  }
  .sneakersSub-option>div:hover{
    background-color: rgba(163, 220, 250, 0.993);
    
  }
  .sneakersSub-option>div:hover>p:first-child{
    color: blue;
  }
  .sneakersSub-option>div:hover>p:last-child{
    color:white;
  }
  .sneakersSub-option>div>p:first-child{
    color: black;
    font-size: 16px;
  }
  .sneakersSub-option>div>p:last-child{
    color: gray;
    font-size: 12px;
  }