.mainSneakersContainer{
 
    width: 90%;
    margin: auto;
    margin-top: 45px;

}
.heading>h1{
   text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    grid-row-gap: 50px;
    margin-top: 4%;
    
}
.bottom{
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    padding:7px 15px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
/* medium screen */
@media screen and (min-width: 1000px) and (max-width: 1300px){
    .content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        grid-row-gap: 50px;
        margin-top: 4%;
        
    }
}
/* small screen */
@media screen and (min-width: 100px) and (max-width: 999px){
    .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        grid-row-gap: 50px;
        margin-top: 4%;
        
    }
}

  